<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<f:view>
    <ui:composition template="../../templates/common/layout.xhtml">
        <ui:define name="title">SHOPIK | Login</ui:define>
        <ui:define name="content">
            <div class="container mt-5">
                <div class="row">
                    <h:form styleClass="col-12">
                        <h:commandButton action="home" styleClass="btn btn-secondary btn-sm" value="Back" />
                    </h:form>
                </div>
            </div>
            <h:form class="container mt-5">
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <h:messages styleClass="form-errors"/>
                        <h2 class="my-3">Login</h2>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <h:inputText styleClass="form-control" required="true" id="email" value="#{loginFormUser.email}">
                                <f:validateLength minimum="2" maximum="100" />
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <h:inputSecret styleClass="form-control" required="true" id="password" value="#{loginFormUser.password}">
                                <f:validateLength minimum="2" maximum="64" />
                            </h:inputSecret>
                        </div>
                        <div class="text-right">
                            <h:commandButton styleClass="btn btn-primary" action="#{authController.login(loginFormUser)}" value="Login"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>