<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../../templates/common/layout.xhtml">
        <ui:define name="title">SHOPIK | Register</ui:define>
        <ui:define name="content">
            <div class="container mt-5">
                <div class="row">
                    <h:form styleClass="col-12">
                        <h:commandButton action="home" styleClass="btn btn-secondary btn-sm" value="Back" />
                    </h:form>
                </div>
            </div>
            <h:form class="container mt-5">
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <h:messages styleClass="form-errors"/>
                        <h2 class="my-3">Register</h2>
                        <div class="form-group">
                            <label for="name">Full name</label>
                            <h:inputText styleClass="form-control" type="text" id="name" value="#{registerFormUser.username}"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <h:inputText styleClass="form-control" type="email" id="email" value="#{registerFormUser.email}"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <h:inputSecret styleClass="form-control" type="password" id="password" value="#{registerFormUser.password}"/>
                        </div>
                        <div class="text-right">
                            <h:commandButton styleClass="btn btn-primary" action="#{authController.register(registerFormUser)}" value="Register"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
