<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../templates/common/layout.xhtml">
        <ui:define name="title">SHOPIK | My Cart</ui:define>
        <ui:define name="content">
            <div class="container mt-5">
                <div class="row">
                    <h:form styleClass="col-12">
                        <h:commandButton action="home" styleClass="btn btn-secondary btn-sm" value="Back" />
                    </h:form>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="my-3">My Cart</h2>
                    </div>
                </div>
                <div class="row">
                    <h:form styleClass="col-12" rendered="#{userController.currentUser.cartSize > 0}">
                        <ul class="list-group">
                            <ui:repeat value="#{userController.currentUser.cart}" var="book">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    #{book.title}
                                    <h:commandButton styleClass="btn btn-danger btn-sm" action="#{userController.removeFromCart(book)}" value="Remove"/>
                                </li>
                            </ui:repeat>
                        </ul>
                    </h:form>
                    <h:panelGrid rendered="#{userController.currentUser.cartSize == 0}">
                        <p class="text-center col-12">There is nothing in your cart</p>
                    </h:panelGrid>
                </div>

                <div class="row mt-5">
                    <h:form class="col-12 d-flex justify-content-end">
                        <h:commandButton styleClass="btn btn-success btn-sm" action="#{userController.createOrder()}" value="Buy"/>
                    </h:form>
                </div>
            </div>

        </ui:define>
    </ui:composition>
</f:view>
</html>
