<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../templates/common/layout.xhtml">
        <ui:define name="title">SHOPIK | My Orders</ui:define>
        <ui:define name="content">
            <div class="container mt-5">
                <div class="row">
                    <h:form styleClass="col-12">
                        <h:commandButton action="home" styleClass="btn btn-secondary btn-sm" value="Back" />
                    </h:form>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="my-3">My Orders</h2>
                    </div>
                </div>
                <div class="row">
                    <h:form styleClass="col-12" rendered="#{userController.ordersSize > 0}">
                        <ul class="list-group">
                            <ui:repeat value="#{userController.orders}" var="order">
                                <li class="list-group-item d-flex flex-column p-5">
                                    <p class="lead">Order ##{order.id}</p>
                                    <p class="small mb-0 text-muted" style="margin-left: 1.25rem">ordered books:</p>

                                    <ul class="list-group list-group-flush">
                                        <ui:repeat value="#{order.books}" var="book">
                                            <li class="list-group-item d-flex align-items-center">
                                                <p class="mb-0"><span style="font-weight: bold;">#{book.title}</span> <span class="small">by #{book.author}</span></p>
                                            </li>
                                        </ui:repeat>
                                    </ul>

                                </li>
                            </ui:repeat>
                        </ul>
                    </h:form>
                    <h:panelGrid rendered="#{userController.ordersSize == 0}">
                        <p class="text-center col-12">There are no orders, yet!</p>
                    </h:panelGrid>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</f:view>
</html>
