<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:body>
    <ui:composition template="./templates/common/layout.xhtml">
        <ui:define name="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Shopik</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <h:form rendered="#{userController.loggedIn}">
                                <h:commandLink immediate="true" action="orders" styleClass="nav-link">
                                    Orders
                                </h:commandLink>
                            </h:form>
                        </li>
                    </ul>

                    <h:form rendered="#{!userController.loggedIn}" styleClass="form-inline m-2 my-lg-0">
                        <h:commandLink immediate="true" action="login" styleClass="btn btn-primary btn-sm">
                            Login
                        </h:commandLink>
                    </h:form>

                    <h:form rendered="#{!userController.loggedIn}" styleClass="form-inline m-2 my-lg-0">
                        <h:commandLink immediate="true" action="register" styleClass="btn btn-primary btn-sm">
                            Register
                        </h:commandLink>
                    </h:form>

                    <h:form rendered="#{userController.loggedIn}" styleClass="form-inline m-2 my-lg-0">
                        <h:commandLink styleClass="btn btn-secondary btn-sm" immediate="true" action="cart">
                            Cart <span class="ml-3 badge badge-light">#{userController.currentUser.cartSize}</span>
                        </h:commandLink>
                    </h:form>

                    <h:form rendered="#{userController.loggedIn}" styleClass="form-inline m-2 my-lg-0">
                        <h:commandLink styleClass="btn btn-danger btn-sm" immediate="true" action="#{userController.logout}">
                            Logout
                        </h:commandLink>
                    </h:form>

                </div>
            </nav>

            <div class="container mt-5">
                <div class="row">
                    <ui:repeat var="book" value="#{bookController.books}">
                        <div class="col-12 col-md-3 card">
                            <div class="card-body">
                                <h5 class="card-title">${book.title}</h5>
                                <p class="card-text">${book.author}</p>
                                <h:panelGrid rendered="#{userController.loggedIn}">
                                    <h:form rendered="#{!userController.isInCart(book)}">
                                        <h:commandButton styleClass="btn btn-primary btn-sm" action="#{userController.addToCart(book)}" value="Add"/>
                                    </h:form>
                                    <h:form rendered="#{userController.isInCart(book)}">
                                        <h:commandButton styleClass="btn btn-secondary btn-sm disabled" disabled="true" value="Added"/>
                                    </h:form>
                                </h:panelGrid>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
            </div>

        </ui:define>
        <ui:define name="title">SHOPIK | Homepage</ui:define>
    </ui:composition>
</h:body>
</html>